<div class="header">

    <div class="pure-g">
        <div class="photo-box pure-u">
            <img src='../images/background.jpg' id="background-image" alt="Forex">
        </div>
    </div>

    <div id="layout" class="content pure-g">
        <div id="nav" class="pure-u">
            <a href="/" class="pure-menu-heading"><%= projectName %></a>
            <div class="nav-inner">
                <div class="pure-menu">
                    <ul class="pure-menu-list">
                        <li class="pure-menu-item"><a href="/login" class="pure-menu-link">Log in</a></li>
                        <li class="pure-menu-item"><a href="/register" class="pure-menu-link">Reqistration</a></li>
                        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Trading platform</a></li>
                        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Deposit</a></li>
                        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Withdraw</a></li>
                        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Transactions</a></li>
                        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Trades</a></li>
                        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Profile</a></li>
                        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Quotes</a></li>
                        <li class="pure-menu-heading">Additionally</li>
                        <li class="pure-menu-item"><a href="#" class="pure-menu-link"><span class="email-label-personal"></span>Blog</a></li>
                        <li class="pure-menu-item"><a href="#" class="pure-menu-link"><span class="email-label-work"></span>Tools</a></li>
                        <li class="pure-menu-item"><a href="#" class="pure-menu-link"><span class="email-label-travel"></span>About</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


    <script>
        (function (window, document) {
            document.getElementById('toggle').addEventListener('click', function (e) {
                document.getElementById('tuckedMenu').classList.toggle('custom-menu-tucked');
                document.getElementById('toggle').classList.toggle('x');
            });
        })(this, this.document);
    </script>
</div>