<!DOCTYPE html>
<html>
<head>
    <%- include('head', {}); %>
</head>
<body>
<div class="pure-g">
    <div class="photo-box pure-u">
        <img src='../images/background-dark.png' id="background-dark">
    </div>
</div>
<%- include('header', {}); %>

<div id="overlay">

    <div class="pure-g" id="register-table">
        <div class="pure-u-1">
            <div class="pure-menu pure-menu-horizontal organization-submenu">
                <ul class="pure-menu-list">
                    <li class="pure-menu-item">
                        <a class="pure-menu-link" href="login" <% if (pageType === "login" ) { %>style="font-weight: bold;"<% } %>>
                               Log in
                        </a>
                    </li>
                    <li class="pure-menu-item">
                        <a class="pure-menu-link" href="/register" <% if (pageType === "register" ) { %>style="font-weight: bold;"<% } %>>
                               Registration
                        </a>
                    </li>
                  </ul>
            </div>
        </div>

        <% if (pageType === "register") { %>

        <div class="pure-u">
            <form class="pure-form pure-form-aligned" method="post" accept-charset="UTF-8" action="/register" autocomplete="on" id="register-form">
                <fieldset>
                    <div class="pure-control-group">
                        <input id="firstname" size="30"  name="firstname" type="text" placeholder="Enter Firstname">
                        <span class="pure-form-message-inline">This is a required field.</span>
                    </div>

                    <div class="pure-control-group">
                        <input id="middlename" size="30" name="middlename" type="text" placeholder="Enter Middlename">
                    </div>

                    <div class="pure-control-group">
                        <input id="lastname" size="30" name="lastname" type="text" placeholder="Enter Lastname">
                    </div>

                    <div class="pure-control-group">
                        <input id="email" size="30" name="email" type="text" placeholder="Enter Email Address">
                    </div>

                    <div class="pure-control-group">
                        <input id="phoneNumber" size="30" name="phoneNumber" type="text" placeholder="Enter Phone number">
                    </div>

                    <div class="pure-control-group">
                        <input id="gender" size="30" name="gender" type="text" placeholder="Enter Gender">
                    </div>

                    <div class="pure-control-group">
                        <input id="dateOfBirth" size="30" name="dateOfBirth" type="text" placeholder="Enter Date Of Birth">
                    </div>

                   <!-- <div>
                        <label for="option-one" for="option-two" class="pure-radio">
                        <input id="option-one" type="radio" name="gender" value="male" checked>
                            Male
                            <input id="option-two" type="radio" name="gender" value="female" checked>
                                Female
                            <span class="pure-form-message-inline">This is a required field</span>
                        </label>
                    </div>-->


                  <!--  <div class="pure-control-group">
                        <input type="date" name="dateOfBirth" class="pure-input-1-2" placeholder="Enter Date of Dirth">
                    </div>-->

                    <button type="submit" id="button-register" class="pure-button pure-button-primary">Sign in</button>
                </fieldset>
            </form>
        </div>
        <% } %>

        <% if (pageType === "login") { %>
        <div class="pure-u">
            <form class="pure-form pure-form-aligned" method="post" accept-charset="UTF-8" action="/login" autocomplete="on" id="register-form">
                <fieldset>
                    <div class="pure-control-group">
                        <input id="firstname" size="30" name="firstname" type="text" placeholder="Enter Email">
                    </div>

                    <div class="pure-control-group">
                        <input id="middlename" size="30" name="middlename" type="text" placeholder="Enter Password">
                    </div>

                    <button type="submit" id="button-login" class="pure-button pure-button-primary">Sign in</button>
                </fieldset>
            </form>
        </div>
<% } %>
    </div>
</div>
<!--  <%- include('footer', {}); %> -->
</body>
</html>