* {
  font-family: "Droid Sans", serif;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #333;
  background: url("../images/background.jpg") no-repeat;
  background-size: 100%;
}

.overlay {
  background: rgba(20, 150, 20, 1);
}

.head-text {
  background: #1b98f8;
  text-align: center;
  border-radius: 20px;
  color: white;
  font-size: 40px;
  padding-top: 1%;
  padding-bottom: 1%;
  width:40%;
  margin-left:30%;
  margin-top:10%;
  box-shadow: 1px 1px 1px 1px black;

}
.head-button {
  text-align: center;
  font-size: 30px;
  background: #1b98f8;
  border-radius: 10px;
  margin-left:42%;
  width: 200px;
  height: auto;
  margin-top: 2%;
}
.head-button:hover {
  box-shadow: 1px 1px 1px 1px black;

}

a {
  color: #00B7FF;
  text-decoration: none;
}

.primary-button,
.secondary-button {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-radius: 20px;
}
.primary-button {
  color: #fff;
  background: #1b98f8;
margin: 1em 0;
}
.secondary-button {
  background: #fff;
  border: 1px solid #ddd;
  color: #666;
  padding: 0.5em 2em;
  font-size: 80%;
}

.balancetext {

}


.deposit3-frame {
  margin: 2%;
  height: 87%;
}

.deposit2-frame {
  width: 60%;
  margin: 2%;
  max-height: 600px;
}

#deposit-frame-table-text {
  text-align: center;
  color: black;
  font: 22px "Lucida Grande", Helvetica, Arial, sans-serif;
}
#deposit-frame-table-text2 {
  color: darkgray;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  position: relative;
  bottom: 0%;

}

.deposit-frame-table1-text {
  color: darkgrey;
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.deposit-frame-table2-text {
  color: black;
  font: 28px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.deposit-frame-table1-text:hover {
  color: black;
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.deposit-frame-table1 {
  margin: 3%;
  height: 30px;
}

.cabinet-table {
}

.cabinet-table-list {
}

.footer {
  position: absolute;
  background: white;
  bottom: 0;
  left: 150px;
  width: calc(100% - 150px);
}

.register-submenu {
}

.cabinet-submenu {
  color: white;
  margin-top: 5%;
  margin-left: 30%;
  max-width: 550px;
  background: #333;
  border-radius: 10px;
}

.payment-method-tables {
  background: white;
  margin-top: 20px;
  height: 400px;
  width: 60%;
  margin-bottom: 3.125em;
  margin-left: 22%;
}

.payment-method-text-head {
  margin: 2em 2em 0em 2em;
  height: 10%;
  width: 70%;
}

.border-table1 {
  max-width: 220px;
  height: 90px;
  margin: 1% 1% 1% 1%;
}

.border-table2 {
  width: 141px;
  height: 90px;
  margin: 1% 1% 1% 1%;
}

.payment-method-table {
  box-shadow: 2px 2px 4px 2px #dddddd;
  border-radius: 4px;
  margin: 3em 2em 0em 2em;
  height: 100px;
  width: 82%;
}

.deposit-frame-table {
  padding-top:5px;
  text-align: center;
  box-shadow: 2px 2px 4px 2px #dddddd;
  border-radius: 4px;
  margin: 0.5em 1em 1em 1em;
  width: 70%;
  height: 75px;
}

.payment-method-table:hover {
  border: 2px solid green;
}

.deposit-frame-table:hover {
  border: 2px solid green;
}







.button-recharge {
  border: 1px solid #ccc;
  background: #fff;
  color: #333;
  border-radius: 2em;
  font-weight: bold;
  position: relative;
  bottom: -1.5em;
}
/*
 * -- LAYOUT STYLES --
 * This layout consists of three main elements, `#nav` (navigation bar), `#list` (email list), and `#main` (email content). All 3 elements are within `#layout`
 */
#layout, #nav, #list, #main {
  margin: 0;
  padding: 0;
}

/* Make the navigation 100% width on phones */
#nav {
  width: 100%;
  height: 40px;
  position: relative;
  background: rgb(37, 42, 58);
  text-align: center;
}
/* Show the "Menu" button on phones */
#nav .nav-menu-button {
  display: block;
  top: 0.5em;
  right: 0.5em;
  position: absolute;
}

/* When "Menu" is clicked, the navbar should be 80% height */
#nav.active {
  height: 80%;
}
/* Don't show the navigation items... */
.nav-inner {
  display: none;
}

/* ...until the "Menu" button is clicked */
#nav.active .nav-inner {
  display: block;
  padding: 2em 0;
}


/*
 * -- NAV BAR STYLES --
 * Styling the default .pure-menu to look a little more unique.
 */
#nav .pure-menu {
  background: transparent;
  border: none;
  text-align: left;
}
#nav .pure-menu-link:hover,
#nav .pure-menu-link:focus {
  background: rgb(55, 60, 90);
}
#nav .pure-menu-link {
  color: #fff;
  margin-left: 0.5em;
}
#nav .pure-menu-heading {
  border-bottom: none;
  font-size:110%;
  color: rgb(75, 113, 151);
}

#nav .menu-item__disabled {
  background: rgb(200, 60, 90);
}
#nav .menu-item__disabled:hover,
#nav .menu-item__disabled:focus {
  background: rgb(200, 60, 90);
}


/*
 * -- EMAIL STYLES --
 * Styles relevant to the email messages, labels, counts, and more.
 */

.email-label-personal,
.email-label-work,
.email-label-travel {
  width: 15px;
  height: 15px;
  display: inline-block;
  margin-right: 0.5em;
  border-radius: 3px;
}
.email-label-personal {
  background: #ffc94c;
}
.email-label-work {
  background: #41ccb4;
}
.email-label-travel {
  background: #40c365;
}


/*
 * -- TABLET (AND UP) MEDIA QUERIES --
 * On tablets and other medium-sized devices, we want to customize some
 * of the mobile styles.
 */
@media {

  #background-dark {
    padding-left: 150px;
    page-size: 100%;
  }

  #background-image {
    background-size: 100%;
  }

#button-register {
  width: 222px;
}

  #button-login {
    width: 222px;
  }

  #register-table {
    border-radius: 50px;
    padding-top: 20px;
    padding-left: 5%;
    background-color: #ffffff;
    position:fixed;
    top: 25%;
    left: 30%;
    right: 38%;
  }

  #register-form {
    border-radius: 50px;
    background-color: #ffffff;
  }

  /* Move the layout over so we can fit the nav + list in on the left */
  #layout {
    padding-left:500px; /* "left col (nav + list)" width */
    position: relative;
  }

  /* These are position:fixed; elements that will be in the left 500px of the screen */
  #nav, #list {
    position: fixed;
    top: 0;
    bottom: 0;
    overflow: auto;
  }
  #nav {
    margin-left:-500px; /* "left col (nav + list)" width */
    width:150px;
    height: 100%;
  }

  /* Show the menu items on the larger screen */
  .nav-inner {
    display: block;
    padding: 2em 0;
  }

  /* Hide the "Menu" button on larger screens */
  #nav .nav-menu-button {
    display: none;
  }

  #list {
    margin-left: -350px;
    width: 100%;
    height: 33%;
    border-bottom: 1px solid #ddd;
  }

  #main {
    position: fixed;
    top: 33%;
    right: 0;
    bottom: 0;
    left: 150px;
    overflow: auto;
    width: auto; /* so that it's not 100% */
  }

}

/*
 * -- DESKTOP (AND UP) MEDIA QUERIES --
 * On desktops and other large-sized devices, we want to customize some
 * of the mobile styles.
 */
@media (min-width: 60em) {

  /* This will take up the entire height, and be a little thinner */
  #list {
    margin-left: -350px;
    width:350px;
    height: 100%;
    border-right: 1px solid #ddd;
  }

  /* This will now take up it's own column, so don't need position: fixed; */
  #main {
    position: static;
    margin: 0;
    padding: 0;
  }
}