<!DOCTYPE html>
<html>
<head>
    <%- include('head', {}); %>
</head>
<body>
<%- include('header', {}); %>
<div>
    <form action="/login" method="post" class="pure-form pure-form-aligned login-form">
        <input class="login-form__email" type="text" placeholder="nickname" name="nickname"/>
        <input class="login-form__password" type="password" placeholder="password" name="password"/>
        <input class="login-form__submit" type="submit"/>
        <span class="login-form__message"></span>
    </form>
</div>
<script src="/js/login.js"></script>
</body>
</html>